<?xml version="1.0"?>
<model>
  <name>x500_commercial</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Jacob Hubbard</name>
    <email>jacob.nxg@outlook.com</email>
  </author>
  <description>x500 Model based on the PX4-Autopilot x500 Implementation</description>
</model>
